/** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Theme primary colors */
--clr-primary-a0: #cf343e;
--clr-primary-a10: #d85051;
--clr-primary-a20: #e06965;
--clr-primary-a30: #e77f79;
--clr-primary-a40: #ee958e;
--clr-primary-a50: #f3aaa4;

/** Theme surface colors */
--clr-surface-a0: #121212;
--clr-surface-a10: #282828;
--clr-surface-a20: #3f3f3f;
--clr-surface-a30: #575757;
--clr-surface-a40: #717171;
--clr-surface-a50: #8b8b8b;

/** Theme tonal surface colors */
--clr-surface-tonal-a0: #241817;
--clr-surface-tonal-a10: #392d2c;
--clr-surface-tonal-a20: #4f4443;
--clr-surface-tonal-a30: #665c5b;
--clr-surface-tonal-a40: #7d7574;
--clr-surface-tonal-a50: #968f8e;

/** Examples */
.bg-primary {
 color: var(--clr-primary-a50);
 background-color: var(--clr-surface-a0);
 
}
