__pycache__/
cli_menus/__pycache__/
*.pyc
.env
.vscode/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Model/preprocessing/pe_features.csv
Model/preprocessing/ACCICONS.EXE
Model/randomforestv1/random_forest.joblib
